.products {
  padding-bottom: 80px;

  &__title {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
  }

  &__item {
    img {
      display: block;
      width: 100%;
    }
  }

  &__name {
    margin-top: 10px;
    font-size: 14px;
  }

  &__price {
    font-size: 14px;
  }
}

.pagination{
  margin-top: 40px;
  text-align: center;

  &__list{
    display: inline-flex;
    gap: 20px;
  }

  &__link{
    font-size: 14px;
    color: #333;

    &--current{
      font-weight: bold;
    }
  }
}

@media (max-width: 900px) {
  .products {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 20px;
    }
  }

  .pagination{
    &__list{
      gap: 16px;
    }
  }
}
